{% extends 'polyclinic_app/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'polyclinic_app/css/polyclinic.css' %}">
{% endblock style %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}
<div class="content">
    <h1 class="main-title">{{ title }}</h1>
    <div class="polyclinics">
        {% for p in polyclinics %}
            <div class="polyclinic">
                <h2 class="p-title">{{ p.name }}</h2>
                <p class="p-address">ул. {{ p.address }}</p>
                <div class="numbers">
                {% for number in p.phone.all %}
                <a href="tel:{{ phone_code }}{{ number.number }}" class="p-phone">{{ number.title }}: <span class="tel">{{ phone_code }} {{ number.number }}</span></a>
                {% endfor %}
                </div>
                <a href="{{ p.making_an_appointment }}" class="mp-link" target="_blank">Записаться на прием</a>                                             
                <a href="{{ p.website }}" class="p-url" target="_blank">официальный сайт</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'polyclinic_app/js/block.js' %}"></script>
{% endblock script %}