.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.city-link {    
    margin: 10px;
    display: block;
    width: 45%;
    min-height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: #1e3d59;
    color: #f5f0e1;
    font-family: 'Merriweather';
    font-weight: 700;
    letter-spacing: 2px;
}