/* Обнуление */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    background-color: #f5f0e1;
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url("../fonts/Merriweather-Bold.ttf");
    font-weight: 700;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather';
    font-weight: 400;
    color: #000;
    background-color: #f5f0e1;
}

.header {
    padding: 0 20px;
    text-align: center;
    background-color: #ee8b6d;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-link {
    color: #000;
    font-size: 18px;
    text-decoration: underline;
}

.search-form {
    padding: 10px 0;
    color: #000;
}

.label {
    font-size: 18px;
    text-align: center;
}

.input {
    margin-left: 10px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 15px #1e3d59;
}

::placeholder {
    text-align: center;
}

.submit {
    height: 30px;
    padding: 5px 10px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.error {
    padding: 5px 0 0;
    font-size: 12px;
    text-align: center;
    color: #ff0000;
}

.main {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.info-title {
    text-align: center;
    margin: 20px 0 0;
    text-transform: uppercase;
    font-family: 'Merriweather';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ee8b6d;
}

.main-title {
    text-align: center;
    margin: 20px 0 30px;
    text-transform: uppercase;
    font-family: 'Merriweather';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #1e3d59;
}

.footer {
    padding: 0 20px;
    text-align: center;
    background-color: #ee8b6d;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    color: #1e3d59;
}

.mail-link {
    color: #1e3d59;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.mail-link::after {
    position: absolute;
    content: "";
    background: url('../images/mail.svg');
    width: 24px;
    height: 24px;
    top: -3px;
    margin-left: 5px;
}